body    {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.sectionleft    {
    width: 35%;
    height: 2100px;
    display: inline-block;
    background-color: rgb(39, 81, 188);
    vertical-align: top;
    color: white;
    font-weight: 300;
}

.imagenyo   {
    text-align: center;
}

.imagenyo img   {
    width: 400px;
    border-radius:200px;
    margin: 180px 0 180px 0;
}

.sectionleft h3 {
    font-size: 30px;
    text-align: left;
    padding-left: 50px;
    font-weight: 500;
}

.sectionleft li {
    font-size: 20px;
    padding: 30px 0 0 100px;
    color: white;
    text-align: left;
}

.iconcorreo i {
    display: inline-block;
}

.icontext {
    font-size: 23px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 25px;
    color: white;
}

.educations i {
    display: inline-block;
}

.education  {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 25px;
}

.sectionright   {
    width: 60%;
    height: 2100px;
    display: inline-block;
    background-color: white;
}

.sectionright h1 {
    color: rgb(39, 81, 188);
    font-size: 80px;
    font-weight: 900;
    padding: 100px 0 50px 100px;
    text-align: left;
}

.sectionright h2    {
    color: gray;
    font-size: 40px;
    padding: 50px 0  20px 200px;
    font-weight: 500;      
} 

.parrafo {
    font-size: 30px;
    font-weight: 300;
    padding: 60px 0  100px 200px;
    color: rgb(51, 50, 50);
    text-align: justify; 
}

.iconmarcador i {
    font-size: 30px;
    color: rgb(39, 81, 188);
    padding-top: 3%;
    display: inline-block;
}

.iconmarcador     {
    padding-top: 65px;
    padding-left: 150px;  
}

.cargo {
    display: inline-block;
    width: 70%;
    padding-left: 25px;
    font-size: 30px;
}

.empresa    {
    width: 70%;
    padding-left: 50px;
    font-size: 30px;
}

